<footer>
    <h2>Lorem, ipsum dolor.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, aperiam eaque 
        cupiditate sit consectetur quis. Repudiandae, iste fuga. Alias pariatur repellendus, 
        doloremque iure quas necessitatibus reiciendis fugiat sunt ex facilis? Mollitia ratione 
        nostrum culpa. Assumenda, praesentium illum minus voluptas quo pariatur architecto 
        officia quas sed rem sunt id provident officiis consequuntur, aliquid saepe cum numquam 
        vero ea a! Quia obcaecati saepe possimus incidunt accusantium minima, distinctio quae 
        iure dolor aliquid? Laudantium maxime libero eos voluptatum in rem dolorem corporis cum
         minus. Sunt asperiores nam repudiandae veritatis accusamus numquam nemo dolore 
        voluptates unde! Repellat nisi debitis culpa doloribus, beatae dolorem voluptates.</p>
</footer>